Source: automount
Section: electronics
Priority: optional
Maintainer: Alistair Lynn <arplynn@gmail.com>
Build-Depends: debhelper (>= 9),
Standards-Version: 3.9.6

Package: automount
Architecture: all
Depends: ${misc:Depends},
         udev,
Description: Automatic mounting of USB devices
 udev rules to automatically mount USB devices into a sane location on
 appearance of the corresponding block devices.
